#titulo {
  text-shadow: 15px 15px hotpink;
  text-transform: uppercase;
}
#linea1 {
  background-color: lightyellow;
}
#linea2 {
  color: lightgreen;
}
.linea3Y4 {
  background-color: black;
  color: white;
}
.linea5y6 {
  color: lightskyblue;
}
